In [0]:
%sql
-- S3'ten veriyi okuyup 'amazon_gold_sales' adında kalıcı bir tablo oluşturur.
-- Sütun isimlerindeki boşluk hatalarını (Column Mapping) bu komutla engelliyoruz.
CREATE TABLE IF NOT EXISTS amazon_gold_sales 
TBLPROPERTIES ('delta.columnMapping.mode' = 'name') 
AS 
SELECT * FROM read_files(
  's3://faruk-amazon-data/Amazon Sale Report.csv',
  format => 'csv',
  header => true,
  inferSchema => true
);

In [0]:
%sql
SELECT * FROM amazon_tablosu LIMIT 10;

index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22,_rescued_data
124816,171-7123776-1321138,2022-06-03,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0117,J0117-TP-XL,Top,XL,B08N4H7B3Y,Shipped,1,INR,726.0,SUJANPUR,PUNJAB,145023.0,IN,"Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-SL3Y2YRMAUNFC,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-EWAPBB6BDRGM6,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-NT3ZJJGQ3JK3Q,Amazon PLCC Free-Financing Universal Merchant AAT-AMKH7SAAONETC,Amazon PLCC Free-Financing Universal Merchant AAT-56XNPXK2K7OLI,Amazon PLCC Free-Financing Universal Merchant AAT-Z7SKZOEIDWRU4,Amazon PLCC Free-Financing Universal Merchant AAT-TNYBHEAO7HOHO,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4,Amazon PLCC Free-Financing Universal Merchant AAT-QMFZ3M7T5NPDS,Amazon PLCC Free-Financing Universal Merchant #MP-pmilan-1601980554292",false,Easy Ship,false,null
124817,408-3472443-8570710,2022-06-03,Shipped,Amazon,Amazon.in,Expedited,JNE3613,JNE3613-KR-M,kurta,M,B08XW3RW7P,Shipped,1,INR,399.0,HYDERABAD,TELANGANA,500054.0,IN,null,false,null,false,null
124818,406-0906728-7961155,2022-06-03,Shipped,Amazon,Amazon.in,Expedited,JNE3801,JNE3801-KR-XXL,kurta,XXL,B09SDZ4XRT,Shipped,1,INR,735.0,Secunderabad,TELANGANA,500080.0,IN,null,false,null,false,null
124819,407-4162538-6494766,2022-06-03,Shipped,Amazon,Amazon.in,Expedited,SET291,SET291-KR-PP-M,Set,M,B099NK55YG,Shipped,1,INR,569.0,MUMBAI,MAHARASHTRA,400093.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,false,null,false,null
124820,403-6308547-0322759,2022-06-03,Shipped,Amazon,Amazon.in,Expedited,MEN5032,MEN5032-KR-XXL,kurta,XXL,B08YZ138QZ,Shipped,1,INR,787.0,Trichur,KERALA,680541.0,IN,null,false,null,false,null
124821,405-9521085-9883501,2022-06-03,Shipped,Amazon,Amazon.in,Expedited,SET187,SET187-KR-DH-S,Set,S,B08B3YCLP5,Shipped,1,INR,671.0,NEW DELHI,DELHI,110051.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,false,null,false,null
124822,408-3334712-6989968,2022-06-03,Shipped,Amazon,Amazon.in,Expedited,SET345,SET345-KR-NP-S,Set,S,B09KXV6T8Q,Shipped,1,INR,0.0,ANTAH,RAJASTHAN,325209.0,IN,null,false,null,false,null
124823,405-0011580-8023558,2022-06-03,Shipped,Amazon,Amazon.in,Expedited,JNE3838,JNE3838-KR-XL,kurta,XL,B09TH574ZW,Shipped,1,INR,399.0,BANGALORE,KARNATAKA,560004.0,IN,null,false,null,false,null
124824,407-0092317-3895530,2022-06-03,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3797,JNE3797-KR-S,Western Dress,S,B09SDYQ3WG,Shipped,1,INR,735.0,HYDERABAD,TELANGANA,500090.0,IN,"Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-SL3Y2YRMAUNFC,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-EWAPBB6BDRGM6,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-AMKH7SAAONETC,Amazon PLCC Free-Financing Universal Merchant AAT-56XNPXK2K7OLI,Amazon PLCC Free-Financing Universal Merchant AAT-Z7SKZOEIDWRU4,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4,Amazon PLCC Free-Financing Universal Merchant #MP-pmilan-1601980554292",false,Easy Ship,false,null
124825,407-9082243-0365114,2022-06-03,Shipped,Amazon,Amazon.in,Expedited,JNE3399,JNE3399-KR-L,kurta,L,B082W8354V,Shipped,1,INR,435.0,HYDERABAD,TELANGANA,500089.0,IN,null,false,null,false,null

In [0]:
%sql
-- En çok sipariş alan (satış adedi en yüksek) kategoriyi bulur.
SELECT Category, COUNT(*) AS total_orders
FROM amazon_gold_sales
GROUP BY Category
ORDER BY total_orders DESC
LIMIT 1;

Category,total_orders
Set,50284

In [0]:
%sql
-- Hangi eyaletin (state) toplamda daha fazla para (Amount) getirdiğini hesaplar.
SELECT `ship-state` AS state, ROUND(SUM(Amount), 2) AS total_revenue
FROM amazon_gold_sales
GROUP BY state
ORDER BY total_revenue DESC
LIMIT 1;

state,total_revenue
MAHARASHTRA,1.333553414E7

In [0]:
%sql
-- Toplam kazancı toplam ürün adedine bölerek sepet ortalamasını bulur.
SELECT ROUND(SUM(Amount) / SUM(Qty), 2) AS average_basket_value
FROM amazon_gold_sales;

average_basket_value
673.75

In [0]:
%sql
-- This query calculates the top 10 cities by total revenue.
-- ROUND function is used to keep the currency format clean (2 decimal places).
SELECT 
    `ship-city` AS city, 
    ROUND(SUM(Amount), 2) AS total_sales
FROM amazon_tablosu
GROUP BY `ship-city`
ORDER BY SUM(Amount) DESC
LIMIT 10;

city,total_sales
BENGALURU,6849664.99
HYDERABAD,4946032.82
MUMBAI,3704461.8
NEW DELHI,3613874.78
CHENNAI,3098745.74
PUNE,2338518.18
KOLKATA,1414978.87
GURUGRAM,1221618.74
THANE,1004355.29
LUCKNOW,933926.34

Databricks visualization. Run in Databricks to view.